.headerDemo {
  margin: auto;
  border: 1px solid #303030;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  vertical-align: middle;
  border-radius: 2px;
}

.title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}
